<div id="header">
	<div id="logo">
		<h1><a href="/">BlackSmith Hostel</a></h1>
	</div>
</div>
<div id="menu">
	<ul>
		<li class="current_page_item"><span><a href="/">Home</a></span></li>
		<li><a href="/about">About Us</a></li>
		<li><a href="/room">Room & Rate</a></li>
		<li><a href="/facilities">Service & Facilities</a></li>
		<li><a href="/navigation">Navigation</a></li>
		<li><a href="/neighborhood">Neighborhood</a></li>
		<li><a href="/booking">BOOK NOW</a></li>
	</ul>
</div>