<script language="JavaScript" type="text/javascript">
	$(document).ready(function(){
		var pathname = window.location.pathname
		var current_item = pathname.replace('/','')
		if (($("#"+current_item).length > 0)) {
			$("#"+current_item).addClass('current_page_item');
			$("#home").removeClass('current_page_item');
		}
	});
</script>

<div id="header">
	<div id="logo">
		<h1><a href="/">BlackSmith Hostel</a></h1>
	</div>
	<div id="language">
	<span><a href="/chinese">简体中文</a>|<a href="/english">English</a></span>
	</div>
</div>
<% case session[:localization] %>
<% when "ch" %>
<div id="menu">
	<ul>
		<li id="home" class="current_page_item"><span><a href="/">首页</a></span></li>
		<!-- <li id="about"><a href="/about">关于我们</a></li> -->
		<li id="room"><a href="/room">房间&价格</a></li>
		<li id="facilities"><a href="/facilities">设施&服务</a></li>
		<li id="navigation"><a href="/navigation">如何到达</a></li>
<!-- 		<li id="neighborhood"><a href="/neighborhood">周边信息</a></li> -->
		<li id="booking"><a href="/booking">现在预定</a></li>
	</ul>
</div>
<% else %>
<div id="menu">
	<ul>
		<li id="home" class="current_page_item"><span><a href="/">Home</a></span></li>
		<!-- <li id="about"><a href="/about">About us</a></li> -->
		<li id="room"><a href="/room">Room & Rate</a></li>
		<li id="facilities"><a href="/facilities">Service & Facilities</a></li>
		<li id="navigation"><a href="/navigation">Navigation</a></li>
<!-- 		<li id="neighborhood"><a href="/neighborhood">Neighborhood</a></li> -->
		<li id="booking"><a href="/booking">BOOK NOW</a></li>
	</ul>
</div>
<% end %>