	<div id="header">
		<div id="logo">
			<h1><a href="#">BlackSmith Hostel</a></h1>
		</div>
	</div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><span><a href="#">Home</a></span></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Room & Rate</a></li>
			<li><a href="#">Service & Facilities</a></li>
			<li><a href="#">Navigation</a></li>
			<li><a href="#">Neighborhood</a></li>
			<li><a href="#">BOOK NOW</a></li>
		</ul>
	</div>