<ul class="nav nav-list">
  <li class="nav-header">Getting Start</li>
  <li><a href="/step/1">Setup Environment</a></li>
  <li><a href="/step/3">Introduction to XPath</a></li>
  <li><a href="/step/6">Introduction to Selenium</a></li>
  <li><a href="/step/2">Selenium in Ruby</a></li>
  <li><a href="/step/4">Page Object Parttern</a></li>
  <li>Work with framework</li>
<!--   <li><a href="/step/4">Third Party Tools</a></li>
  <li><a href="/step/5">Work with framework</a></li>
 -->  
  <li class="divider"></li>
  <li class="nav-header">Example</li>
  <li><a href="/example">Try XPath</a></li>
</ul>