
	<div id="page">
		<div id="content_wide">
			<div class="post">
			<img src="images/img08.jpg" class="photo" alt="" />
			</div>
		</div>	

		<div id = "content_wide">
			<div class="post">
				<h2 class="title"><a href="#">About us</a></h2>
				<p class="subtitle">Welcome to Blacksmith Hostel! (NEWLY OPENED)</p>
				<div class="entry">

					<p><strong>Great location:</strong></p>

					<p>We are ideally located in the central area of Chengdu, less than 5-minute walking distance to Bai Guo Lin metro station (line 2), providing you fast and easy access to the rest of the city. We are also very near (300 meters away) 1st Ring Road, the most important traffic circus in Chengdu, from where you have easy access to all hotspots in Chengdu by bus.</p>

					<p><strong>Newly renovated rooms:</strong></p>

					<p>We provide upmarket accommodation for backpackers and budget travelers. Here you’ll find newly renovated, spacious, clean, tastefully decorated rooms combined with a personal and warm atmosphere.</p>

					<p>We’ve got air-conditioning in every room, and all the rooms have high ceilings and wooden floors.</p>

					<p>All dorm rooms feature individual bed curtain, reading light, electrical outlet, secure swipe card and big locker (please bring your own padlock or you can buy one from our reception). We also provide fresh linen upon your arrival for free. More importantly, our unique private communal bathrooms act as a personal ensuite, meaning soaping up with a fellow traveler is optional.</p>

					<p>For twin/double rooms, each has a fully equipped ensuite bathroom. Fresh linen and daily housekeeping are provided for free.</p>

					<p><strong>Various services and facilities:</strong></p>

					<p>The awesome garden is a great place to unwind and meet your fellow travelers. Enjoy the big TV/movie lounge and games area with pool table and table tennis. Feast in our fully-equipped self-catering kitchen and dining room. Stay in touch with fast web access at our Internet Cafe. Dance the night away while sampling the wide range of beers, wines and spirits in our stylish garden-view bar.</p>

					<p>We also have a travel and information desk with heaps of information on what to see or do in and around Chengdu. Just ask our staff who know all about the area and will be happy to help you choose and book the right activity to suit you. - We really are your one-stop-shop!</p>

					<p>Blacksmith is a combination of international hostel atmosphere, backpackers’ spirit, friendly guests and competent staff, and this will definitely make your stay a wonderful experience.</p>
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>