<table id="content_wide">
  <tr>
    <td class="text_left">
      <img src="images/phone.png" width="200px" height="200px">
      <img src="images/email.png" width="200px" height="200px">
    </td>
    <td class="pic_right">
<p><strong>Phone</strong></p>

<p>028-87791376</p>

<p>86-28-87791376 (If you are not in China)</p>

<p><strong>Email</strong></p>

<p>blacksmithhostel@gmail.com</p>

<p>If you choose to book our hostel by phone or email, please kindly provide the following information:</p>

<ul>
<li><p>What kind of room do you need?</p></li>
<li><p>How many days do you want to stay?</p></li>
<li><p>What time will you arrive at our hostel?</p></li>
<li><p>What’s your mobile number (if you have)?</p></li>
<li><p>Do you need pick-up service from train station or airport?</p></li>
</ul>


<p><strong>Please note:</strong></p>

<p>Check In: 2.00 pm</p>

<p>Check Out: 12.00 noon</p>
    </td>
  </tr>

  <tr>
    <td class="text_left"><img src="images/online.png" width="200px" height="200px"></td>
    <td class="pic_right">   <%= partial :_form %></td>
  </tr>
</table>

