<!-- <form class="form-vertical|form-horizontal|form-inline|form-search"> -->
<form class="form-horizontal">

  <fieldset>
    <legend>Legend text</legend>
<div class="control-group error|warning|success">
      <label class="control-label">Name</label>
      <div class="controls">
        <input type="text"
               class="input-mini|-small|-medium|-large|-xlarge|-xxlarge
                      span1..12 disabled ">
        <label class="checkbox">
          <input type="checkbox"> Option
        </label>
        <label class="form-actions">
          <input type="radio"> RadioButton
        </label>
        <span class="uneditable-input">Can’t touch this</span>
        <span class="help-inline">Supporting inline help text</span>
        <p class="help-block">Supporting help text</p>
      </div>
    </div>
    <div class="form-actions">
      <button class="btn btn-primary">Save</button>
    </div>
  </fieldset>
</form>

<form>
	<select name="cars">
		<option value="volvo">Volvo</option>
		<option value="saab">Saab</option>
		<option value="fiat" selected="selected">Fiat</option>
		<option value="audi">Audi</option>
	</select>
</form>


<form>
<label class="control-label">
	MALE:
	<input type="radio" checked="checked" name="Sex" value="male" />
</label>
<label class="control-label">
	FEMALE:
	<input type="radio" name="Sex" value="female" />
</form>