<div id="content">
	<div id="CafeBar" class="post">
		<h2 class="title"><a href="#CafeBar">Cafe & Bar</a></h2>
		<div class="entry">
			<p><img src="images/cafebar.jpg" width="540" height="300" alt="" /></p>
			<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros turpis, cursus egestas at sem.</p>
		</div>
	</div>
	<div id ="BBQ" class="post">
		<h2 class="title"><a href="#BBQ">BBQ Area<a></h2>
		<div class="entry">
			<p><img src="images/bbq.jpg" width="540" height="300" alt="" /></p>
			<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros turpis, cursus egestas at sem.</p>
		</div>
	</div>
	<div class="post">
		<h2 id="Pool" class="title"><a href="#Pool">Pool Table</a></h2>
		<div class="entry">
			<p><img src="images/pooltable.jpg" width="540" height="300" alt="" /></p>
			<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros turpis, cursus egestas at sem.</p>
		</div>
	</div>
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end #content -->
<div id="sidebar">
	<ul>
		<li>
			<h3>Free services & facilities</h3>
			<ul>
				<li><a>WiFi and internet terminals</a></li>
				<li><a>Fully equipped kitchen</a></li>
				<li><a>DVD room</a></li>
				<li><a>24-hour hot water</a></li>
				<li><a>Hair Drier</a></li>
				<li><a>Air Conditioning</a></li>
				<li><a>Car/bicycle parking</a></li>
				<li><a href="#BBQ">BBQ area</a></li>
				<li><a>Table tennis</a></li>
				<li><a href="#Pool">Pool table</a></li>
				<li><a>Table soccer</a></li>
				<li><a>Travel and Information desk</a></li>
				<li><a>Postal Service</a></li>
				<li><a>Luggage Storage</a></li>
			</ul>
		</li>
		<li>
			<h3>Paid services & facilities</h3>
			<ul>
				<li><a>Airport/train station transfer</a></li>
				<li><a>Train ticket booking</a></li>
				<li><a>Tours</a></li>
				<li><a href="#CafeBar">Cafe & Bar</a></li>
				<li><a>Bicycle rent</a></li>
				<li><a>Laundry</a></li>
				<li><a>Fax service</a></li>
				<li><a>Printing service</a></li>
			</ul>
		</li>
	</ul>
</div>
<!-- end #sidebar -->
<div style="clear: both;">&nbsp;</div>
