<div class="hero-unit">
  <h1>Hello, Selenium!</h1>
  <p>This is a simple selenium automation introduction, select the topic in the left side</p>
  <p><a href="/step/1" class="btn btn-primary btn-large">Get start!!</a></p>
</div>