<!-- end #menu -->
<div id="content_wide">
    <div class="post">
        <h3 class="title"><a href="#">How to find us,</a></h3>
        <div class="entry">
          <p><strong>1.Form the North Train station</strong></p>
          <p>After you walk out the Train station,turnright way to take bus No.27 get off at Qing Yang Xiao Qu.You will see a supermarket behind of you,and turn right go along wenhua Road,walking about 5minutes.</p>
          <p><strong>2.From the Airport</strong></p>
          <p>You can take the airport shuttle bus 303 at the EXITof the airport.Get of at the last stop,It is citycenter then change a taxi(price around 15-20yuan )to Blacksmith.If you take taxi fom airport to our hostel directly,price around 70RMB.</p>
          <p><strong>3.Pick up service</strong></p>
          <p>Call us 1 day before to let us arrange the pick up service from airport or train station.</p>
          <p>Tel:028-87791376 028-87791371</p>
          <p>Add:N.10Wenhua rd.Baiguolin districe,Chengdu,Sichuan</p>
        </div>
    </div>      
</div>
<div id="content_wide">
  <iframe width="890" height="500" frameborder="0" scrolling="no" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=10+Wenhua+Road,+Chengdu,+Sichuan,+China&amp;aq=0&amp;oq=10+wenhua+Chengdu,+Sichuan,+China&amp;sll=30.673731,104.036348&amp;sspn=0.003239,0.005681&amp;ie=UTF8&amp;hq=&amp;hnear=Wen+Hua+Lu,+Chengdu,+Sichuan,+China&amp;t=m&amp;ll=30.673722,104.036322&amp;spn=0.036911,0.07287&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
</div>