<div id="page">
    <div id="content_wide">
        <div class="post">
            <h2 class="title"><a href="#">Welcome to Arrangement </a></h2>
            <p class="meta">Posted by <a href="#">Someone</a> on March 10, 2011
                &nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
            <div class="entry">
                <p><img src="images/img08.jpg" width="540" height="300" alt="" /></p>
                <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros turpis, cursus egestas at sem.</p>
                <p><a href="#" class="links">Full Details</a></p>
            </div>
        </div>
        <div class="post">
            <h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
            <p class="meta">Posted by <a href="#">Someone</a> on March 10, 2011
                &nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
            <div class="entry">
                <p><img src="images/img09.jpg" width="540" height="300" alt="" /></p>
                <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros turpis, cursus egestas at sem.</p>
                <p><a href="#" class="links">Full Details</a></p>
            </div>
        </div>
        <div class="post">
            <h2 class="title"><a href="#">Phasellus pellentesque turpis </a></h2>
            <p class="meta">Posted by <a href="#">Someone</a> on March 10, 2011
                &nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
            <div class="entry">
                <p><img src="images/img10.jpg" width="540" height="300" alt="" /></p>
                <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros turpis, cursus egestas at sem.</p>
                <p><a href="#" class="links">Full Details</a></p>
            </div>
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>
</div>