<% case session[:localization] %>
<% when "ch" %>
	<table id ="content_wide">
		<tr>
			<td class="pic_left" >
				<img  src="images/room1.jpg" width="540"/>
			</td>
			<td class="text_right">
				<h3 class="title">大床房(带独立卫生间)</h3>
				<ul>
					<li>1米8的双人席梦思床</li>
					<li>空调</li>
					<li>Wifi</li>
					<li>电烧水壶</li>
					<li>24小时热水</li>
					<li>免费提供沐浴液和洗发水</li>
					<li>免费提供毛巾</li>
					<li>160元</li>
					<li>140元（YHA会员价）</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td class="pic_right" >
				<img  src="images/room2.jpg" width="540"/>
			</td>
			<td class="text_left">
				<h3 class="title">标准间(带独立卫生间)</h3>
				<ul>
					<li>两张单人席梦思床</li>
					<li>空调</li>
					<li>Wifi</li>
					<li>电烧水壶</li>
					<li>24小时热水</li>
					<li>免费提供沐浴液和洗发水</li>
					<li>免费提供毛巾</li>
					<li>160元</li>
					<li>140元（YHA会员价）</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td class="pic_left" >
				<img  src="images/room3.jpg" width="540"/>
			</td>
			<td class="text_right">
				<h3 class="title">4人间</h3>
				<ul>
					<li>空调</li>
					<li>Wifi</li>
					<li>独立床头灯(互不打扰)</li>
					<li>独立插座(方便随时为您的电子产品充电)</li>
					<li>超大储藏柜</li>
					<li>60元</li>
					<li>50元（YHA会员价）</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td class="pic_right" >
				<img  src="images/room4.jpg" width="540"/>
			</td>
			<td class="text_left">
				<h3 class="title">6人间</h3>
				<ul>
					<li>空调</li>
					<li>Wifi</li>
					<li>独立床头灯(互不打扰)</li>
					<li>独立插座(方便随时为您的电子产品充电)</li>
					<li>超大储藏柜</li>
					<li>55元</li>
					<li>45元（YHA会员价）</li>
				</ul>
			</td>
		</tr>
	</table>
<% else %>
	<table id ="content_wide">
		<tr>
			<td class="pic_left" >
				<img  src="images/room1.jpg" width="540"/>
			</td>
			<td class="text_right">
				<h3 class="title">Double Room (with private bathroom)</h3>
				<ul>
					<li>King-size bed with super comfortable innerspring mattress</li>
					<li>Air-condition</li>
					<li>Wifi</li>
					<li>Electric kettle</li>
					<li>24-hour hot water</li>
					<li>Shampoo &amp; body wash are provided</li>
					<li>Towels are provided</li>
					<li>RMB 160</li>
					<li>RMB 140 (with YHA membership card)</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td class="pic_right" >
				<img  src="images/room2.jpg" width="540"/>
			</td>
			<td class="text_left">
				<h3 class="title">Twin Room (with private bathroom)</h3>
				<ul>
					<li>2 beds with super comfortable innerspring mattresses</li>
					<li>Air-condition</li>
					<li>Wifi</li>
					<li>Electric kettle</li>
					<li>24-hour hot water</li>
					<li>Shampoo &amp; body wash are provided</li>
					<li>Towels are provided</li>
					<li>RMB 160</li>
					<li>RMB 140 (with YHA membership card)</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td class="pic_left" >
				<img  src="images/room3.jpg" width="540"/>
			</td>
			<td class="text_right">
				<h3 class="title">4-bed room</h3>
				<ul>
					<li>Air-condition</li>
					<li>Wifi</li>
					<li>Private bed light</li>
					<li>Private electrical outlet</li>
					<li>Private locker</li>
					<li>60 RMB</li>
					<li>50 RMB (with YHA membership card)</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td class="pic_right" >
				<img  src="images/room4.jpg" width="540"/>
			</td>
			<td class="text_left">
				<h3 class="title">6-bed room</h3>
				<ul>
					<li>Air-condition</li>
					<li>Wifi</li>
					<li>Private bed light</li>
					<li>Private electrical outlet</li>
					<li>Private locker</li>
					<li>55 RMB</li>
					<li>45 RMB (with YHA membership card)</li>
				</ul>
			</td>
		</tr>
	</table>
<% end %>	
	


