<h2>Setup Environment</h2>

<h3>Ruby</h3>

<p><code>Windows User</code></p>

<ol>
<li><p>Get the ruby install for <a href="http://rubyforge.org/frs/download.php/75127/rubyinstaller-1.9.2-p290.exe">Ruby-1.9.2-p290</a></p>

<p>make sure to select the checkbox to add ruby into your PATH</p>

<p><img src="http://git.dev.activenetwork.com/global-automation/pictures/blobs/raw/3fc00e1e7da3bfba216d3dac37d7acc8ba12c761/ruby-install-path.gif" alt="image" /></p></li>
<li><p>Install Devkit</p>

<ul>
<li>get the file via <a href="https://github.com/downloads/oneclick/rubyinstaller/DevKit-tdm-32-4.5.2-20111229-1559-sfx.exe">here</a></li>
<li>run the .exe file to unzip files into <code>c:\DevKit</code></li>
<li><p>open your command line and type,</p>

<pre><code>cd c:\DevKit
ruby dk.rb init
ruby dk.rb install --force
</code></pre></li>
</ul>
</li>
<li><p>Install bundler</p>

<ul>
<li><p>open your command line tool and type,</p>

<pre><code>gem install bundler
</code></pre></li>
</ul>
</li>
</ol>


<p>Now you should have done the setup for Ruby Environment</p>

<h3>Selenium-Webdriver</h3>

<ul>
<li><p>The framework is based on Selenium-Webdriver, it&rsquo;s the ruby implementation for <a href="http://seleniumhq.org/docs/03_webdriver.html">Selenium2</a></p></li>
<li><p>It&rsquo;s very easy to install Selenium-Webdriver, just type below in your command line tool,</p>

<pre><code>gem install selenium-webdriver
</code></pre></li>
</ul>


<h3>Rspec</h3>

<ul>
<li><p>Rspec is a Behaviour-Driven Development testing framework for ruby. Our automation scripts are build based on this framework.</p></li>
<li><p>Install Rspec</p>

<pre><code>gem install rspec
</code></pre></li>
</ul>


<h3>WebDriver</h3>

<ul>
<li><p>Firefox is the default browser for working with selenium-webdriver automation. please make sure you have firefox installed</p></li>
<li><p>Selenium-Webdriver supports mutiple browsers includes Chrome and IE.</p></li>
<li><p>To have it work with Chrome and IE, we need have a webdriver installed.</p>

<ol>
<li><p>Download the webdriver execution file via,</p>

<p> <a href="http://code.google.com/p/selenium/downloads/detail?name=IEDriverServer_x64_2.25.2.zip&amp;can=2&amp;q=">IE Win64bit</a></p>

<p> <a href="http://code.google.com/p/selenium/downloads/detail?name=IEDriverServer_Win32_2.25.2.zip&amp;can=2&amp;q=">IE Win32bit</a></p>

<p> <a href="http://code.google.com/p/chromedriver/downloads/list">Chrome drivers</a></p></li>
<li><p>Unzip the files and copy the execution file into a folder like <code>c:\WebDriver</code></p></li>
<li><p>Add the folder into your PATH environment.</p></li>
</ol>
</li>
</ul>


<hr />

<h2>Check your setup</h2>

<ul>
<li><p>Copy below codes into a file, and save it to <code>c:\test.rb</code></p>

<pre><code>require "selenium-webdriver"
require "rspec"
require "rspec/autorun"
include RSpec::Expectations         

describe "This is Demo Script" do
  before(:each) do
    @driver = Selenium::WebDriver.for :firefox
    @driver.manage.timeouts.implicit_wait = 30
  end

  after(:each) do
    @driver.quit            
  end

  it "navigate to google" do
    @driver.get "https://www.google.com"
  end           
end
</code></pre></li>
<li><p>open the command line tool and go to <code>c:\</code>, type below command,</p>

<pre><code>ruby test.rb
</code></pre>

<ul>
<li>you should see a brower opened and navigated to google</li>
</ul>
</li>
</ul>


<hr />

<h2>Optional tools</h2>

<h3>Subversion</h3>

<ul>
<li><p>SVN is the source control tool we are using.</p>

<ul>
<li>Install file can be find <a href="http://subversion.apache.org/packages.html">here</a></li>
<li>Also you may like the GUI tool <a href="http://tortoisesvn.net/downloads.html">TortoiseSVN </a></li>
</ul>
</li>
</ul>


<h3>Aptana Studio3</h3>

<ul>
<li>Aptana Studio3 is a web development IDE based on eclipse, it provides the very helpful content assitant function for ruby.</li>
<li>You can get the installer via <a href="http://www.aptana.com/products/studio3/download">here</a></li>
</ul>


<hr />

<h2>Ruby tutorials</h2>

<ul>
<li><a href="http://www.ruby-lang.org/en/documentation/quickstart/">Ruby in Twenty Minutes</a></li>
</ul>
