<h3>Page Object Parttern</h3>

<p><strong>Defination</strong></p>

<ul>
<li>The Page Object pattern is a way to model pages (intended as screens) of a web application as independent object</li>
</ul>


<p><img src="http://blog.josephwilk.net/wp-content/uploads/2010/12/page-model1.png" alt="image" /></p>

<p><strong>Benefit</strong></p>

<ul>
<li>hiding references to HTML element and the DOM, encapsulating the various queries performed by CSS selector or XPath.</li>
<li>providing higher-level operations than the exposure of elements</li>
<li>to keep actual tests shorter and easier to maintain</li>
</ul>


<p><strong>Exampe</strong></p>

<ul>
<li><p>original codes,</p>

<pre><code>  @driver.get(@base_url + "/")
  @driver.find_element(:id, "sb_form_q").clear
  @driver.find_element(:id, "sb_form_q").send_keys "Selenium"
  @driver.find_element(:id, "sb_form_go").click
  @driver.find_element(:link, "Selenium - Web Browser Automation").click
</code></pre></li>
<li><p>codes after implement Page-Object-Parttern</p>

<pre><code>  BingHomePage.open
  BingHomePage.input_search_text "Selenium"
  BingHomePage.click_to_search
  BingSearchResultPage.open_first_link
</code></pre></li>
</ul>
