<h3>XPath Syntax</h3>

<table class="table table-bordered table-striped">
<thead>
<tr>
<th align="left"><strong>NodeName</strong>   </th>
<th align="left"><strong>Description</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">/</td>
<td align="left">Selects from the root node</td>
</tr>
<tr>
<td align="left">//</td>
<td align="left">Selects nodes in the document from the current node that match the selection no matter where they are</td>
</tr>
<tr>
<td align="left">.</td>
<td align="left">Selects the current node</td>
</tr>
<tr>
<td align="left">..</td>
<td align="left">Selects the parent of the current node</td>
</tr>
<tr>
<td align="left">@</td>
<td align="left">Selects attributes</td>
</tr>
</tbody>
</table>

<h4>Examples</h4>

<div class="row">
  <div class="span3">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Bing</th>
          <td><a href="#" id="linkToBing">OpenBing</a></td>
        </tr>
        <tr>
          <th>Google</th>
          <td><a href="#">OpenGoolge</a></td>
        </tr>
        <tr>
          <th>Baidu</th>
          <td><a href="#">OpenBaidu</a></td>
        </tr>
        <tr>
          <th>Yahoo</th>
          <td><a href="#">OpenYahoo</a></td>
        </tr>
      </tbody>
    </table>
  </div>
<div class="span5">
<pre><code>&lt;div class="span3"&gt;
  &lt;table class="table table-bordered table-striped"&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;Name&lt;/th&gt;
        &lt;th&gt;Link&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;th&gt;Bing&lt;/th&gt;
        &lt;td&gt;&lt;a href="#" id="linkToBing"&gt;OpenBing&lt;/a&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th&gt;Google&lt;/th&gt;
        &lt;td&gt;&lt;a href="#"&gt;OpenGoolge&lt;/a&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th&gt;Baidu&lt;/th&gt;
        &lt;td&gt;&lt;a href="#"&gt;OpenBaidu&lt;/a&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th&gt;Yahoo&lt;/th&gt;
        &lt;td&gt;&lt;a href="#"&gt;OpenYahoo&lt;/a&gt;&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
</code></pre>
  </div>
</div>
<ul>
<li><p>To get the link on the row of Bing,</p>

<ul>
<li><p>  using absolute path, <code>/div/table/tbody/tr[1]/td/a</code></p></li>
<li><p>  using relative path, <code>//tbody//a[1]</code></p></li>
<li><p>  using attribute, <code>//a[.='OpenBing']</code>, <code>//a[@id='LinkToBing']</code></p></li>
</ul>
</li>
</ul>

</hr>
<h3>XPath Axes</h3>
<table class="table table-bordered table-striped">
<thead>
<tr>
<th align="left"> AxisName </th>
<th align="left"> Result </th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">ancestor</td>
<td align="left">Selects all ancestors (parent, grandparent, etc.) of the current node</td>
</tr>
<tr>
<td align="left">descendant</td>
<td align="left">Selects all descendants (children, grandchildren, etc.) of the current node</td>
</tr>
<tr>
<td align="left">child</td>
<td align="left">Selects all children of the current node</td>
</tr>
<tr>
<td align="left">descendant</td>
<td align="left">Selects all descendants (children, grandchildren, etc.) of the current node</td>
</tr>
<tr>
<td align="left">following</td>
<td align="left">Selects everything in the document after the closing tag of the current node</td>
</tr>
<tr>
<td align="left">following-sibling</td>
<td align="left">Selects all siblings after the current node</td>
</tr>
<tr>
<td align="left">parent</td>
<td align="left">Selects the parent of the current node</td>
</tr>
<tr>
<td align="left">preceding</td>
<td align="left">Selects all nodes that appear before the current node in the document, except ancestors, attribute nodes and namespace nodes</td>
</tr>
<tr>
<td align="left">preceding-sibling</td>
<td align="left">Selects all siblings before the current node</td>
</tr>
</tbody>
</table>


<p>See more here <a href="http://www.w3schools.com/xpath/xpath_axes.asp">W3C School</a></p>

<h4>axes in diagram,</h4>

<p><img src="http://git.dev.activenetwork.com/global-automation/pictures/blobs/raw/87fe3a8925f79c62fe8e0821a897a98831e924c0/xpath-axes.jpg" alt="xpath-axes" /></p>

<h4>example</h4>

<ul>
<li><code>//tbody/descendant::a[@id='linkToBing']</code></li>
</ul>


</hr>
<h3>Common Xpath functions</h3>
<div class="row">
<table class="table table-bordered table-striped span5">
<thead>
<tr>
<th align="left"> FunctionName </th>
<th align="left"> Description </th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">starts-with(arg1, arg2)</td>
<td align="left"> return nodes if arg1 starts with arg2</td>
</tr>
<tr>
<td align="left">contains(arg1, arg2) </td>
<td align="left">return nodes if attribute arg1 contains arg2</td>
</tr>
<tr>
<td align="left">ends-with(string1,string2)</td>
<td></td>
</tr>
</tbody>
</table>
</div>
<h4>example</h4>
<div class="row">
<ul>
<li><p>using starts-with <code>//a[starts-with(., 'OpenB')]</code></p></li>
<li><p>using contains <code>//a[contains(., 'Bing')]</code></p></li>
<li><p>using ends-with <code>//a[ends-with(.,'Bing')]</code></p></li>
</ul>
</div>
